<div class="list-item" style="color: #FFF; background-color:{{{list.colour}}};">
    <div class="list-contents">
        <a href={{list.link}}>
            {{fa-icon list.icon size=4}}
            <h1>{{list.name}}</h1>
        </a>
    </div>
</div>