{{!-- Default page styling / nav for all pages --}}
<nav class="navbar navbar-expand-md navbar-dark bg-custom">
            {{#link-to 'index' class="navbar-brand"}} IFTTT {{/link-to}}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      {{#link-to 'index' class="nav-link"}} Home {{/link-to}}
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item nav-link disabled">
                            {{fa-icon "user" class="nav-link disabled"}} User
                    </li>
                </ul>
            </div>
        </nav>

    <main role="main" class="container">
                {{outlet}}
    </main>