{{!-- When user tries to navigate to a page not implemented then display this --}}
<h1>404</h1>
<p>The information you requested is not currently implemented.</p>
{{!-- Allow them to return to the index --}}
{{#link-to 'lists.index'}}Return to index{{/link-to}}