    <main class="container">
        <h1 class="leading-text">if
            {{fa-icon "rss" style="color:#FFF; background-color:rgb(237,117,5); border-radius: 10px; padding: .5rem"}} then
            <a href="if-feed-then-action">
                {{fa-icon fa-plus-square}} that</a>
        </h1>
    </main>