{{outlet}}

<div id="welcome">
        <div id="trigger">{{fa-icon "envelope" style="color: #FFF; background-color:rgb(36,104,255); border-radius: 10px; padding: 10px;"}}</div>
        <h1 class="display-4" style="font-weight: 600;">Complete action fields</h1>
        <p class="text-muted">Step 5 of 6</p>
</div>
{{!-- Form validation using ember-validated-form links to validations/email --}}
{{#validated-form
  model        = (changeset model UserValidations)
  on-submit    = (action "saveEmail")
  as |f|}}
 
  {{f.input label="Input Email Address" id="emailADR" name="emailAddress"}}

  {{f.submit label="Continue" disabled=f.loading}}
{{/validated-form}}