{{!-- Display a responsive list of services using a service-item component --}}
{{!-- Individual styling for specific page to make sure hyperlinking colour defaults to white / could alter this to class specific in .css --}}
<style>
    a, a:hover {
    color: #FFF;
    }
</style>

    <div id="welcome">
        <h1 class="display-4" style="font-weight: 600;">Choose a Service</h1>
        <p class="text-muted">Step 1 of 6</p>
    </div>

<div id="items" class="row">
{{#each model as |singleService|}}
  {{service-item class="col-sm-6 col-md-4" list=singleService}}
{{/each}}
</div>