<section class="header" style="width:100%;">
        <h1>Review and Finish</h1>
</section>

    <main class="container">
        <div class="list-option" style="background-color:rgb(237,117,5)">
            <span id="summaryInfo" style="font-size: 1.5rem;">{{model.summaryInfo}}     
            </span><br>
            <button id="submit" class="btn btn-light" {{action "submit"}} >Confirm Applet</button>
        </div>
    </main>